**
*.log

!alacritty/
!alacritty/**

!hypr/
!hypr/**

!trizen/
!trizen/**

!zed/
!zed/**

!rofi/
!rofi/**

!waybar/
!waybar/**

!picon/
!picon/**

!nvim/
!nvim/**

!neofetch/
!neofetch/**

!cava/
!cava/**

!btop/
!btop/**


!starship.toml
!.gitignore
!README.md

